.wrapper{
  height: 100%;
  position: relative;
}

.navbar{
  height: 80px;
  position: relative;
  background-color: transparent;
  font-family: Sanchezregular;
}

.items-menu{
  padding: 0 5% 0 5%;
}

.navbar-nav{

}

.nav-link {
    color: #0E525C;
}

.nav-link-home{
  color: white;
}

.navbar-custom .navbar-nav .nav-link1{
  color: white;
}
