


<div class="wrapper">


  <div class="container">
    <h1>Tienda</h1>
  </div>


  <div class="container-cards" style="color: #0E525C;">


    <div style="margin-top:5%; margin-left:5%; margin-right:5%; height:500px; "  class="card-deck animated fadeIn">
      <div class="card card-inverse">
        <img style="height:100%;" class="card-img" src="assets/img/IMG_0044.jpg" alt="Card image">
        <div class="card-img-overlay">
          <h1 class="card-title text-center">PLANTAS <br/> EXTERIOR</h1>
        </div>
      </div>
      <div class="card card-inverse">
        <img style="height:100%;" class="card-img" src="assets/img/IMG_0044.jpg" alt="Card image">
        <div class="card-img-overlay">
          <h1 class="card-title text-center">PLANTAS <br/> INTERIOR</h1>
        </div>
      </div>
      <div class="card card-inverse" >
        <img style="height:100%;" class="card-img" src="assets/img/IMG_0044.jpg" alt="Card image">
        <div class="card-img-overlay">
          <h1 class="card-title text-center">CACTUS & <br/> SUCULENTAS</h1>
        </div>
      </div>
    </div>

    <div style="margin-top:7%; margin-left:5%; margin-right:5%; height:500px;"  class="card-deck animated fadeIn">
      <div class="card card-inverse">
        <img style="height:100%;" class="card-img" src="assets/img/IMG_0044.jpg" alt="Card image">
        <div class="card-img-overlay">
          <h1 class="card-title text-center">PLANTAS <br/> EXTERIOR</h1>
        </div>
      </div>
      <div class="card card-inverse">
        <img style="height:100%;" class="card-img" src="assets/img/IMG_0044.jpg" alt="Card image">
        <div class="card-img-overlay">
          <h1 class="card-title text-center">PLANTAS <br/> INTERIOR</h1>
        </div>
      </div>
      <div class="card card-inverse">
        <img style="height:100%;" class="card-img" src="assets/img/IMG_0044.jpg" alt="Card image">
        <div class="card-img-overlay">
          <h1 class="card-title text-center">CACTUS & <br/> SUCULENTAS</h1>
        </div>
      </div>
    </div>
  </div>
</div>
