<div class="wrapper">


  <div class="container">
    <h1>Tienda</h1>
  </div>


  <div class="container-cards">


    <div  class="card-deck section-1 animated fadeIn">
      <div class="card card-inverse">
        <button (click)="redirectExterior()" type="button" name="button">
           <img style="height:100%;" class="card-img" src="assets/img/IMG_0044.jpg" alt="Card image">
           <div class="card-img-overlay">
             <h1 class="card-title text-center">PLANTAS <br/> EXTERIOR</h1>
           </div>
        </button>
      </div>
      <div class="card card-inverse">
        <button (click)="redirectInterior()" type="button" name="button">
           <img style="height:100%;" class="card-img" src="assets/img/IMG_0044.jpg" alt="Card image">
           <div class="card-img-overlay">
             <h1 class="card-title text-center">PLANTAS <br/> INTERIOR</h1>
           </div>
         </button>
      </div>
      <div class="card card-inverse" >
        <button (click)="redirectCactus()" type="button" name="button">
           <img style="height:100%;" class="card-img" src="assets/img/IMG_0044.jpg" alt="Card image">
           <div class="card-img-overlay">
             <h1 class="card-title text-center">CACTUS & <br/> SUCULENTAS</h1>
           </div>
         </button>
      </div>
    </div>

    <!-- <div  class="card-deck section-2 animated fadeIn">
      <div class="card card-inverse">
         <button (click)="redirect" type="button" name="button">
          <img style="height:100%;" class="card-img" src="assets/img/IMG_0044.jpg" alt="Card image">
          <div class="card-img-overlay">
            <h1 class="card-title text-center">PLANTAS <br/> EXTERIOR</h1>
        </div>
          </button>
      </div>
      <div class="card card-inverse">
        <button (click)="redirect" type="button" name="button">
         <img style="height:100%;" class="card-img" src="assets/img/IMG_0044.jpg" alt="Card image">
         <div class="card-img-overlay">
           <h1 class="card-title text-center">PLANTAS <br/> EXTERIOR</h1>
         </div>
         </button>
      </div>
      <div class="card card-inverse">
        <img style="height:100%;" class="card-img" src="assets/img/IMG_0044.jpg" alt="Card image">
        <div class="card-img-overlay">
          <h1 class="card-title text-center">CACTUS & <br/> SUCULENTAS</h1>
        </div>
      </div>
    </div>
  </div> -->

  <div class="section-3">

  </div>
</div>
