.main{
  position: relative;
  width: 100%;
  margin-top: 10%;
}

.tarjeta{
  display: inline-block;
  padding: 0 3% 0 3%
}

.nombre-planta{
  position:relative;
  display:inline-block;
  margin-top: 20%
}

.img-planta{


}

button{
  border-style: none;

  height:90%;
  position: relative;
  margin-top:15%;
}
